# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Drizzle generated migrations (keep schema, not migrations unless you want to track them)
/drizzle/*.sql
/drizzle/meta
